<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/time_flow_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/time_flow_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeFlow"
        tools:targetApi="31">

        <service android:name="cn.edu.ustc.timeflow.widget.TaskWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name="cn.edu.ustc.timeflow.widget.ScheduleWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_info" />
        </receiver>
        <receiver android:name="cn.edu.ustc.timeflow.notification.NotificationReceiver"
            android:exported="true"
            android:permission="Pending" />
        <receiver android:name="cn.edu.ustc.timeflow.notification.TaskFinishReceiver"
            android:exported="true"
            android:permission="Task" />

        <activity
            android:name="cn.edu.ustc.ui.WebActivity"
            android:exported="true" />
        <activity
            android:name="cn.edu.ustc.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TimeFlow.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="cn.edu.ustc.timeflow.util.AlarmReceiver" android:exported="true"
            android:permission="Alarm" />
        <service android:name="cn.edu.ustc.timeflow.util.AlarmService" android:exported="true"
            android:permission="Alarm" />
    </application>

</manifest>